<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=AMTVICTORICURM\SQLEXPRESS; Initial Catalog=TMF_Meter_Readings; Persist Security Info=True; User ID=sa; Password=tmf101010" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>