<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <connectionStrings>
      <add name="DefaultConnection" connectionString="Data Source=AMTVICTORICURM\SQLEXPRESS; Initial Catalog=TMF_Meter_Readings; Persist Security Info=True; User ID=sa; Password=tmf101010" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
